.banner-1 {
    background-image: linear-gradient(#00000061, #00000061), url("../../../Assets/bannerImages/banner-1.jpg");
}

.banner-2 {
    background-image: linear-gradient(#00000061, #00000061), url("../../../Assets/bannerImages/banner-2.jpg");
}

.banner-3 {
    background-image: linear-gradient(#00000061, #00000061), url("../../../Assets/bannerImages/banner-3.jpg");
}

.banner-design {
    width: 100%;
    height: 600px;
    background-size: cover;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 576px) {
    .banner-design {
        height: 300px;
    }
}