.horizontal-line {
    display: flex;
    flex-direction: row;
}

.horizontal-line:before,
.horizontal-line:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid gray;
    margin: auto;
}

.horizontal-line:before {
    margin-right: 10px
}

.horizontal-line:after {
    margin-left: 10px
}